<%- include('partials/header') %>
<header>
  <nav>
    <div class="logo">
      <a href="/home">Radiance</a>
    </div>
    <ul class="navbar">
      <li><a href="/profile">Edit Profile</a></li>
      <li><a href="/adminPanel">Admin Panel</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>

<%- include('partials/postUpload') %>

<main>
  <div class="feed">
    <div class="post">
      <img src="https://images.pexels.com/photos/1268855/pexels-photo-1268855.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Post 1" />
      <div class="caption">
        Feel free to adjust the button styles, colors, and spacing according
        to your design preferences.
      </div>
      <div class="buttons">
        <button class="delete-btn">Delete</button>
        <button class="update-btn">Update Caption</button>
      </div>
      <div class="timestamp">Posted 5 minutes ago</div>
    </div>
    <!-- Loop through the posts and display each post -->
    <% posts.forEach(post => { %>
      <div class="post">
        <img src="<%= post.filepath %>" alt="Post">
        <div class="caption"><%= post.caption %></div>
        <div class="buttons">
          <form action="/delete/<%= post._id %>" method="post">
            <button type="submit" class="delete-btn">Delete</button>
          </form>
        </div>
        <div class="timestamp">Posted <%= post.timestamp %> </div>
      </div>
    <% }); %>


  </div>
</main>
<%- include('partials/footer') %>
